# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase keys and config
firebase-config.ts

# Node dependencies
node_modules

# Compiled functions
build
lib

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
