rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /game/{gameType} {
      allow get, list: if true;

      match /board/{boardId} {
        allow get, list: if true;
      }

      match /client/{gameId} {
        allow get: if true;
      }
    }

    match /room/{roomId} {
      allow get, list: if true;
    }
  }
}